<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>A very cool Form page</h1>
    <form action="">
        <input name="name" placeholder = "Name of the car">
        <input name = "model" placeholder="Model of the car">
        <input name = Submit type = submit>
    </form>
</body>
</html>